.header-container {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: center;
}

.header-container > p {
  font-size: 1.5rem;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #bbb230;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}
