.h-logo {
  font-size: 2.7rem;

  /* border: 1px solid red; */
  margin: 0.5rem auto;
  text-align: center;
}

.login {
  border: 1px solid red;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
}

.login > p {
  font-size: 1.2rem;
}

.input-label {
  align-items: center;
  display: flex;
  flex: 1.5;
}

.input-name {
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 1.5rem;
  min-height: 80%;
  min-width: 100%;
  padding: 15px;
}

.btn {
  border-radius: 15px;
  flex: 0.5;
  font-size: 1.2rem;
}
