.card-profile {
  background: rgba(109, 108, 108, 0.24);
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  max-height: 73vh;
  max-width: 40vw;
  overflow: auto;
  padding: 15px;
}

.card-profile img {
  border-radius: 20%;
  max-height: 170px;
  max-width: 170px;
}

.pp {
  background: rgba(128, 128, 128, 0.459);
  border-radius: 15px;
  display: flex;
  gap: 20px;
  margin: 5px;
  padding: 0 10px;
}

.text-area {
  background: rgba(128, 128, 128, 0.459);
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
}

.text-image {
  display: flex;
  justify-content: space-between;
}

.so-text {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.btn-editar {
  background: grey;
  border-radius: 10px;
  margin: 1rem auto;
  padding: 0 10px;
}

.btn-editar:hover {
  background: rgb(223, 238, 9);
}

.btn-editar > a {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
